@import url("https://fonts.googleapis.com/css2?family=Wire+One&display=swap");

:root {
  --main-bg-color-white: whitesmoke;
  --main-color-red: #e22e00;
}

body {
  margin: 0;
  font-family: "Wire One", sans-serif;
}

nav {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 8px;
  height: auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--main-bg-color-white);
}
nav div {
  margin: 10px 30px;
}

.sections-wrapper section {
  height: 800px;
  width: 100vw;
  /* border-top: black 3px solid; */
}

.section-1 {
  background-color: var(--main-bg-color-white);

  border: 1px black solid;

  margin-left: auto;
  margin-right: auto;
}

.hero-section {
  height: auto;
  margin-top: 180px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* .hero-house-wrapper {
  position: relative;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  height: auto;
} */

/* #line-house {
  width: 95%;
  height: auto;
} */
/* #house-path {
  stroke-dasharray: 7350px;
  stroke-dashoffset: 7350px;
  animation: move 1.8s 1.5s linear;
  animation-fill-mode: forwards;
} */

.map-circle-wrapper {
  /* width: 80%; */
  max-width: 600px;
  height: auto;
  position: absolute;
  text-align: center;
}

/* MINI MAP & SVG */
.mini-map {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: translateY(160px); */
  position: absolute;
  z-index: 1;
}

.mini-map img {
  position: absolute;
  width: 60%;
}

.line-map {
  z-index: 2;
  margin-top: -95px;
  /* animation: line-map-slide 3s forwards; */
}

.circle-map {
  z-index: 1;
  margin-top: -20px;
  /* animation: circle-map-slide 3s forwards; */
}
.zillow-map {
  margin-top: 30px;
  /* animation: zillow-map-slide 3s forwards; */
}

.hero-circle {
  text-align: center;
  width: 80%;
  /* opacity: 0; */
  /* animation: hero-circle-rotate 2.5s 0.3s forwards ease-out; */
}

/** SECTION 2  */

.icon {
  /* width: 500px; */
}
@keyframes hero-circle-rotate {
  0% {
    opacity: 0;
    transform: rotate(-80deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes line-map-slide {
  0% {
    /* opacity: 20%; */
    transform: translateY(-200px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}

@keyframes circle-map-slide {
  0% {
    opacity: 20%;
    transform: translateY(-100px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}

@keyframes zillow-map-slide {
  0% {
    opacity: 20%;
    transform: translateY(100px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}

@keyframes hero-circle-side {
  0% {
    transform: translateY(400px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes mini-map-slide {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}
